
TinderAppAPI/.vs/ProjectEvaluation/tinderappapi.metadata.v9.bin
TinderAppAPI/.vs/ProjectEvaluation/tinderappapi.projects.v9.bin
TinderAppAPI/.vs/ProjectEvaluation/tinderappapi.strings.v9.bin
TinderAppAPI/.vs/TinderAppAPI/DesignTimeBuild/.dtbcache.v2
TinderAppAPI/.vs/TinderAppAPI/v17/.futdcache.v2
TinderAppAPI/.vs/TinderAppAPI/v17/.suo
TinderAppAPI/.vs/TinderAppAPI/v17/DocumentLayout.json
